<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>Übersicht</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="subway-outline"></ion-icon>
      <ion-label>Neue Meldung</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-reports">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>Meine Meldungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
