<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Anmelden
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <ion-card-content>
            <ion-img src="../assets/icon/favicon.png" style="height: 5vh; width: auto;"></ion-img>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Anmelden</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="loginObj" (ngSubmit)="login()">
                <ion-item>
                    <ion-input formControlName="email" placeholder="E-Mail Adresse">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="password" placeholder="Passwort" type="password"></ion-input>
                </ion-item>
                <p class="ion-padding-start ion-padding-end">
                    <ion-button type="submit" [disabled]="!loginObj.valid" expand="block" fill="outline">Anmelden
                    </ion-button>
                    <ion-button (click)="dismiss()" expand="block" fill="outline">Abbrechen</ion-button>
                </p>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>